<%= xtra.do_not_edit_warning template: template %>

[![CI](https://github.com/RobertDober/ex_aequo_colors/actions/workflows/elixir.yml/badge.svg)](https://github.com/RobertDober/ex_aequo_colors/actions/workflows/ci.yml)
[![Coverage Status](https://coveralls.io/repos/github/RobertDober/ex_aequo_colors/badge.svg?branch=master)](https://coveralls.io/github/RobertDober/ex_aequo_colors?branch=master)
[![Hex.pm](https://img.shields.io/hexpm/v/ex_aequo_colors.svg)](https://hex.pm/packages/ex_aequo_colors)
[![Hex.pm](https://img.shields.io/hexpm/dw/ex_aequo_colors.svg)](https://hex.pm/packages/ex_aequo_colors)
[![Hex.pm](https://img.shields.io/hexpm/dt/ex_aequo_colors.svg)](https://hex.pm/packages/ex_aequo_colors)

# ExAequoColors

- Use ANSI colors at will

- Install the `colorize` escript to colorize texts (like for help) 

- And that's about it 

## Author

Copyright © 2024 Robert Dober robert.dober@gmail.com

# LICENSE

GNU AFFERO GENERAL PUBLIC LICENSE Version 3, 19 November 2007 or later. Please refer to [LICENSE](LICENSE) for details.
<!--SPDX-License-Identifier: AGPL-3.0-or-later-->
